In [1]:
import os
from corpus_methods.convert_BRAT_to_estnltk_json_updated import import_from_brat_folder
from corpus_methods.file_operations import *

### Creating Text-objects with layers

In [2]:
text_objects = import_from_brat_folder('temporal_facts_corpus')
# väljastab ekraanile olukorra, kus sesoseliikmetest timex on None (brat_id ja failinimi)

(!) different number of entity texts ['oli', 'kõige', 'parem'] and start locs [1904, 1908]

In [3]:
text_objects[0]

Text(text='Üleeilne päev oli ilmselt üks rõõmsamaid lehelugejatele ja masendavamaid ajakirjandusele .\nKümned tuhanded tallinlased leidsid sel päeval postkastist läikpaberil teate , et nad saavad ajalehte Postimees tellida üle nelja korra odavamalt kui näiteks tartlased .\nNii reetis Postimees oma kõige ustavamad toetajad : Tartu ja tartlased .\nEnt tasuta lõunaid kahjuks pole ja varem või hiljem peab lugeja ikka kauba eest maksma .\nPostimehe pöörase allahindluse taga on soov suretada teised lehed välja ja saavutada monopoolne seisund .\nSiis saab kergeusklikult tellijalt võtta mitmekordselt tagasi summa , mis neile praegu kingitakse .\nSelle asemel , et kulutada raha parema lehe tegemiseks ning pakkuda tellijale õige hinna eest võimalikult head kaupa , kulutab Postimees raha konkurentide väljasuretamiseks altvöölöökidega .\nSee ei ole ainuüksi rumal , vaid ka ohtlik , sest ajakirjandusmonopol ohustab meie kõigi sõnavabadust .\nLoomulikult ei saa Eesti Päevalehe toimetus , käed rüpes , pealt vaadata , kuidas Postimehe omanik , kes pole kordagi Eestis käinud , püüab Tallinnas tekitada samasugust ühe lehe umbset tõemonopoli , nagu see on neil korda läinud Tartus .\nMeil ei olnud valikut , me olime sunnitud kaitsma oma lugeja vabadust valida lehte sisu , mitte hinna järgi .\nSeepärast pakume kuni 22. juunini Tallinna , Harjumaa ja Tartu elanikele Eesti Päevalehe nelja kuu tellimust 60 krooni eest ( seni 288 krooni ) ja kuue kuu tellimust 95 krooni eest ( seni 432 krooni ) .\nMe saame aru , et see on ebaõiglane teiste piirkondade inimeste ja seniste , lehe eest täishinda maksnud tellijate suhtes , kuid niisuguse sundkäigu surus meile peale Postimehe alatus .\nEbaõigluse leevendamiseks otsustasime neil , kellel on 31. juuli seisuga tellitud Eesti Päevaleht täishinnaga , pikendada tellimust tasuta ühe kuu võrra kogu Eestis .\nTellija ei pea ise midagi tegema , toimetus saadab talle pärast tellimuse lõppu automaatselt veel kuu aja jooksul iga päev lehe koju .\nPostimehe vallandatud hinnasõda , mis lugejale võib esmapilgul tunduda suure õnnena , on tegelikult meie kõigi ühine õnnetus .\nEesti Päevalehe toimetus maksab üliodavate tellimuste ja juba olemasolevate tellimuste tasuta pikendamise eest soolast hinda ja ei saa seetõttu võibolla ellu viia kõiki plaane , mis olid kavandatud lehe arendamiseks .\nEnt mingis mõttes on see hind siiski madal , sest sõnavabadus ja lugeja valikuvabadus on hindamatu väärtus .\n')

In [4]:
text_objects[0].events

Layer(name='events', attributes=('brat_id', 'class', 'class_confidence', 'duration', 'duration_confidence', 'comment'), spans=SL[EnvelopingSpan(['oli'], [{'brat_id': 'T14', 'class': 'STATE', 'class_confidence': 'high', 'duration': 'hours', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['leidsid'], [{'brat_id': 'T15', 'class': 'OCCURRENCE', 'class_confidence': 'high', 'duration': 'seconds', 'duration_confidence': 'neutral', 'comment': None}]),
EnvelopingSpan(['kingitakse'], [{'brat_id': 'T16', 'class': 'OCCURRENCE', 'class_confidence': 'high', 'duration': 'instant', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['pakume'], [{'brat_id': 'T17', 'class': 'I_ACTION', 'class_confidence': 'high', 'duration': 'days', 'duration_confidence': 'neutral', 'comment': None}]),
EnvelopingSpan(['tellimust'], [{'brat_id': 'T18', 'class': 'OCCURRENCE', 'class_confidence': 'high', 'duration': 'months', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['288', 'krooni'], [{'brat_id': 'T24', 'class': 'STATE', 'class_confidence': 'high', 'duration': 'months', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['tellimust'], [{'brat_id': 'T19', 'class': 'OCCURRENCE', 'class_confidence': 'high', 'duration': 'months', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['432', 'krooni'], [{'brat_id': 'T25', 'class': 'STATE', 'class_confidence': 'high', 'duration': 'months', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['tellitud'], [{'brat_id': 'T21', 'class': 'OCCURRENCE', 'class_confidence': 'high', 'duration': 'instant', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['pikendada'], [{'brat_id': 'T26', 'class': 'ASPECTUAL', 'class_confidence': 'high', 'duration': 'minutes', 'duration_confidence': 'neutral', 'comment': None}]),
EnvelopingSpan(['tellimust'], [{'brat_id': 'T22', 'class': 'OCCURRENCE', 'class_confidence': 'neutral', 'duration': 'weeks', 'duration_confidence': 'high', 'comment': None}]),
EnvelopingSpan(['saadab'], [{'brat_id': 'T23', 'class': 'OCCURRENCE', 'class_confidence': 'high', 'duration': 'days', 'duration_confidence': 'neutral', 'comment': None}])])

In [5]:
text_objects[0].timexes

Layer(name='timexes', attributes=('brat_id', 'tid', 'type', 'value', 'mod', 'anchor_time_id', 'comment'), spans=SL[EnvelopingSpan(['Üleeilne', 'päev'], [{'brat_id': 'T1', 'tid': 't1_1', 'type': 'DATE', 'value': '1998-06-10', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['sel', 'päeval'], [{'brat_id': 'T2', 'tid': 't1', 'type': 'DATE', 'value': '1998-06-10', 'mod': None, 'anchor_time_id': 't1', 'comment': None}]),
EnvelopingSpan(['praegu'], [{'brat_id': 'T3', 'tid': 't2', 'type': 'DATE', 'value': 'PRESENT_REF', 'mod': None, 'anchor_time_id': 't0', 'comment': None}]),
EnvelopingSpan(['22.', 'juunini'], [{'brat_id': 'T4', 'tid': 't3', 'type': 'DATE', 'value': '1998-06-22', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['nelja', 'kuu'], [{'brat_id': 'T5', 'tid': 't4', 'type': 'DURATION', 'value': 'P4M', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['seni'], [{'brat_id': 'T6', 'tid': 't1_4', 'type': 'DATE', 'value': 'PRESENT_REF', 'mod': 'ON_OR_BEFORE', 'anchor_time_id': 't0', 'comment': None}]),
EnvelopingSpan(['kuue', 'kuu'], [{'brat_id': 'T7', 'tid': 't5', 'type': 'DURATION', 'value': 'P6M', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['seni'], [{'brat_id': 'T8', 'tid': 't1_5', 'type': 'DATE', 'value': 'PRESENT_REF', 'mod': 'ON_OR_BEFORE', 'anchor_time_id': 't0', 'comment': None}]),
EnvelopingSpan(['seniste'], [{'brat_id': 'T9', 'tid': 't1_8', 'type': 'DATE', 'value': 'PRESENT_REF', 'mod': 'ON_OR_BEFORE', 'anchor_time_id': 't0', 'comment': None}]),
EnvelopingSpan(['31.', 'juuli'], [{'brat_id': 'T10', 'tid': 't6', 'type': 'DATE', 'value': '1998-07-31', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['ühe', 'kuu'], [{'brat_id': 'T11', 'tid': 't7', 'type': 'DURATION', 'value': 'P1M', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['kuu', 'aja', 'jooksul'], [{'brat_id': 'T12', 'tid': 't1_2', 'type': 'DURATION', 'value': 'P1M', 'mod': None, 'anchor_time_id': None, 'comment': None}]),
EnvelopingSpan(['iga', 'päev'], [{'brat_id': 'T13', 'tid': 't9', 'type': 'SET', 'value': 'P1D', 'mod': None, 'anchor_time_id': None, 'comment': None}])])

In [6]:
text_objects[0].entities

Layer(name='entities', attributes=('brat_id',), spans=SL[EnvelopingSpan(['tellijate'], [{'brat_id': 'T20'}])])

In [7]:
text_objects[0].gold_word_events

Layer(name='gold_word_events', attributes=('nertag',), spans=SL[EnvelopingSpan(['Üleeilne'], [{'nertag': 'O'}]),
EnvelopingSpan(['päev'], [{'nertag': 'O'}]),
EnvelopingSpan(['oli'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ilmselt'], [{'nertag': 'O'}]),
EnvelopingSpan(['üks'], [{'nertag': 'O'}]),
EnvelopingSpan(['rõõmsamaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehelugejatele'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['masendavamaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['ajakirjandusele'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kümned'], [{'nertag': 'O'}]),
EnvelopingSpan(['tuhanded'], [{'nertag': 'O'}]),
EnvelopingSpan(['tallinlased'], [{'nertag': 'O'}]),
EnvelopingSpan(['leidsid'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['sel'], [{'nertag': 'O'}]),
EnvelopingSpan(['päeval'], [{'nertag': 'O'}]),
EnvelopingSpan(['postkastist'], [{'nertag': 'O'}]),
EnvelopingSpan(['läikpaberil'], [{'nertag': 'O'}]),
EnvelopingSpan(['teate'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['et'], [{'nertag': 'O'}]),
EnvelopingSpan(['nad'], [{'nertag': 'O'}]),
EnvelopingSpan(['saavad'], [{'nertag': 'O'}]),
EnvelopingSpan(['ajalehte'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimees'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellida'], [{'nertag': 'O'}]),
EnvelopingSpan(['üle'], [{'nertag': 'O'}]),
EnvelopingSpan(['nelja'], [{'nertag': 'O'}]),
EnvelopingSpan(['korra'], [{'nertag': 'O'}]),
EnvelopingSpan(['odavamalt'], [{'nertag': 'O'}]),
EnvelopingSpan(['kui'], [{'nertag': 'O'}]),
EnvelopingSpan(['näiteks'], [{'nertag': 'O'}]),
EnvelopingSpan(['tartlased'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Nii'], [{'nertag': 'O'}]),
EnvelopingSpan(['reetis'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimees'], [{'nertag': 'O'}]),
EnvelopingSpan(['oma'], [{'nertag': 'O'}]),
EnvelopingSpan(['kõige'], [{'nertag': 'O'}]),
EnvelopingSpan(['ustavamad'], [{'nertag': 'O'}]),
EnvelopingSpan(['toetajad'], [{'nertag': 'O'}]),
EnvelopingSpan([':'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tartu'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['tartlased'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ent'], [{'nertag': 'O'}]),
EnvelopingSpan(['tasuta'], [{'nertag': 'O'}]),
EnvelopingSpan(['lõunaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['kahjuks'], [{'nertag': 'O'}]),
EnvelopingSpan(['pole'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['varem'], [{'nertag': 'O'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['hiljem'], [{'nertag': 'O'}]),
EnvelopingSpan(['peab'], [{'nertag': 'O'}]),
EnvelopingSpan(['lugeja'], [{'nertag': 'O'}]),
EnvelopingSpan(['ikka'], [{'nertag': 'O'}]),
EnvelopingSpan(['kauba'], [{'nertag': 'O'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['maksma'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['pöörase'], [{'nertag': 'O'}]),
EnvelopingSpan(['allahindluse'], [{'nertag': 'O'}]),
EnvelopingSpan(['taga'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['soov'], [{'nertag': 'O'}]),
EnvelopingSpan(['suretada'], [{'nertag': 'O'}]),
EnvelopingSpan(['teised'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehed'], [{'nertag': 'O'}]),
EnvelopingSpan(['välja'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['saavutada'], [{'nertag': 'O'}]),
EnvelopingSpan(['monopoolne'], [{'nertag': 'O'}]),
EnvelopingSpan(['seisund'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Siis'], [{'nertag': 'O'}]),
EnvelopingSpan(['saab'], [{'nertag': 'O'}]),
EnvelopingSpan(['kergeusklikult'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellijalt'], [{'nertag': 'O'}]),
EnvelopingSpan(['võtta'], [{'nertag': 'O'}]),
EnvelopingSpan(['mitmekordselt'], [{'nertag': 'O'}]),
EnvelopingSpan(['tagasi'], [{'nertag': 'O'}]),
EnvelopingSpan(['summa'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['mis'], [{'nertag': 'O'}]),
EnvelopingSpan(['neile'], [{'nertag': 'O'}]),
EnvelopingSpan(['praegu'], [{'nertag': 'O'}]),
EnvelopingSpan(['kingitakse'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Selle'], [{'nertag': 'O'}]),
EnvelopingSpan(['asemel'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['et'], [{'nertag': 'O'}]),
EnvelopingSpan(['kulutada'], [{'nertag': 'O'}]),
EnvelopingSpan(['raha'], [{'nertag': 'O'}]),
EnvelopingSpan(['parema'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['tegemiseks'], [{'nertag': 'O'}]),
EnvelopingSpan(['ning'], [{'nertag': 'O'}]),
EnvelopingSpan(['pakkuda'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellijale'], [{'nertag': 'O'}]),
EnvelopingSpan(['õige'], [{'nertag': 'O'}]),
EnvelopingSpan(['hinna'], [{'nertag': 'O'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['võimalikult'], [{'nertag': 'O'}]),
EnvelopingSpan(['head'], [{'nertag': 'O'}]),
EnvelopingSpan(['kaupa'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kulutab'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimees'], [{'nertag': 'O'}]),
EnvelopingSpan(['raha'], [{'nertag': 'O'}]),
EnvelopingSpan(['konkurentide'], [{'nertag': 'O'}]),
EnvelopingSpan(['väljasuretamiseks'], [{'nertag': 'O'}]),
EnvelopingSpan(['altvöölöökidega'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['See'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['ole'], [{'nertag': 'O'}]),
EnvelopingSpan(['ainuüksi'], [{'nertag': 'O'}]),
EnvelopingSpan(['rumal'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['vaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['ka'], [{'nertag': 'O'}]),
EnvelopingSpan(['ohtlik'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['sest'], [{'nertag': 'O'}]),
EnvelopingSpan(['ajakirjandusmonopol'], [{'nertag': 'O'}]),
EnvelopingSpan(['ohustab'], [{'nertag': 'O'}]),
EnvelopingSpan(['meie'], [{'nertag': 'O'}]),
EnvelopingSpan(['kõigi'], [{'nertag': 'O'}]),
EnvelopingSpan(['sõnavabadust'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Loomulikult'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['saa'], [{'nertag': 'O'}]),
EnvelopingSpan(['Eesti'], [{'nertag': 'O'}]),
EnvelopingSpan(['Päevalehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['toimetus'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['käed'], [{'nertag': 'O'}]),
EnvelopingSpan(['rüpes'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['pealt'], [{'nertag': 'O'}]),
EnvelopingSpan(['vaadata'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kuidas'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['omanik'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kes'], [{'nertag': 'O'}]),
EnvelopingSpan(['pole'], [{'nertag': 'O'}]),
EnvelopingSpan(['kordagi'], [{'nertag': 'O'}]),
EnvelopingSpan(['Eestis'], [{'nertag': 'O'}]),
EnvelopingSpan(['käinud'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['püüab'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tallinnas'], [{'nertag': 'O'}]),
EnvelopingSpan(['tekitada'], [{'nertag': 'O'}]),
EnvelopingSpan(['samasugust'], [{'nertag': 'O'}]),
EnvelopingSpan(['ühe'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['umbset'], [{'nertag': 'O'}]),
EnvelopingSpan(['tõemonopoli'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['nagu'], [{'nertag': 'O'}]),
EnvelopingSpan(['see'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['neil'], [{'nertag': 'O'}]),
EnvelopingSpan(['korda'], [{'nertag': 'O'}]),
EnvelopingSpan(['läinud'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tartus'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Meil'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['olnud'], [{'nertag': 'O'}]),
EnvelopingSpan(['valikut'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['me'], [{'nertag': 'O'}]),
EnvelopingSpan(['olime'], [{'nertag': 'O'}]),
EnvelopingSpan(['sunnitud'], [{'nertag': 'O'}]),
EnvelopingSpan(['kaitsma'], [{'nertag': 'O'}]),
EnvelopingSpan(['oma'], [{'nertag': 'O'}]),
EnvelopingSpan(['lugeja'], [{'nertag': 'O'}]),
EnvelopingSpan(['vabadust'], [{'nertag': 'O'}]),
EnvelopingSpan(['valida'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehte'], [{'nertag': 'O'}]),
EnvelopingSpan(['sisu'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['mitte'], [{'nertag': 'O'}]),
EnvelopingSpan(['hinna'], [{'nertag': 'O'}]),
EnvelopingSpan(['järgi'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Seepärast'], [{'nertag': 'O'}]),
EnvelopingSpan(['pakume'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['kuni'], [{'nertag': 'O'}]),
EnvelopingSpan(['22.'], [{'nertag': 'O'}]),
EnvelopingSpan(['juunini'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tallinna'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['Harjumaa'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tartu'], [{'nertag': 'O'}]),
EnvelopingSpan(['elanikele'], [{'nertag': 'O'}]),
EnvelopingSpan(['Eesti'], [{'nertag': 'O'}]),
EnvelopingSpan(['Päevalehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['nelja'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuu'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellimust'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['60'], [{'nertag': 'O'}]),
EnvelopingSpan(['krooni'], [{'nertag': 'O'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['('], [{'nertag': 'O'}]),
EnvelopingSpan(['seni'], [{'nertag': 'O'}]),
EnvelopingSpan(['288'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['krooni'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan([')'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuue'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuu'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellimust'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['95'], [{'nertag': 'O'}]),
EnvelopingSpan(['krooni'], [{'nertag': 'O'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['('], [{'nertag': 'O'}]),
EnvelopingSpan(['seni'], [{'nertag': 'O'}]),
EnvelopingSpan(['432'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['krooni'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan([')'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Me'], [{'nertag': 'O'}]),
EnvelopingSpan(['saame'], [{'nertag': 'O'}]),
EnvelopingSpan(['aru'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['et'], [{'nertag': 'O'}]),
EnvelopingSpan(['see'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['ebaõiglane'], [{'nertag': 'O'}]),
EnvelopingSpan(['teiste'], [{'nertag': 'O'}]),
EnvelopingSpan(['piirkondade'], [{'nertag': 'O'}]),
EnvelopingSpan(['inimeste'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['seniste'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['lehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['täishinda'], [{'nertag': 'O'}]),
EnvelopingSpan(['maksnud'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellijate'], [{'nertag': 'O'}]),
EnvelopingSpan(['suhtes'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kuid'], [{'nertag': 'O'}]),
EnvelopingSpan(['niisuguse'], [{'nertag': 'O'}]),
EnvelopingSpan(['sundkäigu'], [{'nertag': 'O'}]),
EnvelopingSpan(['surus'], [{'nertag': 'O'}]),
EnvelopingSpan(['meile'], [{'nertag': 'O'}]),
EnvelopingSpan(['peale'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['alatus'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ebaõigluse'], [{'nertag': 'O'}]),
EnvelopingSpan(['leevendamiseks'], [{'nertag': 'O'}]),
EnvelopingSpan(['otsustasime'], [{'nertag': 'O'}]),
EnvelopingSpan(['neil'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kellel'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['31.'], [{'nertag': 'O'}]),
EnvelopingSpan(['juuli'], [{'nertag': 'O'}]),
EnvelopingSpan(['seisuga'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellitud'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['Eesti'], [{'nertag': 'O'}]),
EnvelopingSpan(['Päevaleht'], [{'nertag': 'O'}]),
EnvelopingSpan(['täishinnaga'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['pikendada'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tellimust'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tasuta'], [{'nertag': 'O'}]),
EnvelopingSpan(['ühe'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuu'], [{'nertag': 'O'}]),
EnvelopingSpan(['võrra'], [{'nertag': 'O'}]),
EnvelopingSpan(['kogu'], [{'nertag': 'O'}]),
EnvelopingSpan(['Eestis'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tellija'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['pea'], [{'nertag': 'O'}]),
EnvelopingSpan(['ise'], [{'nertag': 'O'}]),
EnvelopingSpan(['midagi'], [{'nertag': 'O'}]),
EnvelopingSpan(['tegema'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['toimetus'], [{'nertag': 'O'}]),
EnvelopingSpan(['saadab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['talle'], [{'nertag': 'O'}]),
EnvelopingSpan(['pärast'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellimuse'], [{'nertag': 'O'}]),
EnvelopingSpan(['lõppu'], [{'nertag': 'O'}]),
EnvelopingSpan(['automaatselt'], [{'nertag': 'O'}]),
EnvelopingSpan(['veel'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuu'], [{'nertag': 'O'}]),
EnvelopingSpan(['aja'], [{'nertag': 'O'}]),
EnvelopingSpan(['jooksul'], [{'nertag': 'O'}]),
EnvelopingSpan(['iga'], [{'nertag': 'O'}]),
EnvelopingSpan(['päev'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['koju'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Postimehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['vallandatud'], [{'nertag': 'O'}]),
EnvelopingSpan(['hinnasõda'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['mis'], [{'nertag': 'O'}]),
EnvelopingSpan(['lugejale'], [{'nertag': 'O'}]),
EnvelopingSpan(['võib'], [{'nertag': 'O'}]),
EnvelopingSpan(['esmapilgul'], [{'nertag': 'O'}]),
EnvelopingSpan(['tunduda'], [{'nertag': 'O'}]),
EnvelopingSpan(['suure'], [{'nertag': 'O'}]),
EnvelopingSpan(['õnnena'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['tegelikult'], [{'nertag': 'O'}]),
EnvelopingSpan(['meie'], [{'nertag': 'O'}]),
EnvelopingSpan(['kõigi'], [{'nertag': 'O'}]),
EnvelopingSpan(['ühine'], [{'nertag': 'O'}]),
EnvelopingSpan(['õnnetus'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Eesti'], [{'nertag': 'O'}]),
EnvelopingSpan(['Päevalehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['toimetus'], [{'nertag': 'O'}]),
EnvelopingSpan(['maksab'], [{'nertag': 'O'}]),
EnvelopingSpan(['üliodavate'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellimuste'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['juba'], [{'nertag': 'O'}]),
EnvelopingSpan(['olemasolevate'], [{'nertag': 'O'}]),
EnvelopingSpan(['tellimuste'], [{'nertag': 'O'}]),
EnvelopingSpan(['tasuta'], [{'nertag': 'O'}]),
EnvelopingSpan(['pikendamise'], [{'nertag': 'O'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['soolast'], [{'nertag': 'O'}]),
EnvelopingSpan(['hinda'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['saa'], [{'nertag': 'O'}]),
EnvelopingSpan(['seetõttu'], [{'nertag': 'O'}]),
EnvelopingSpan(['võibolla'], [{'nertag': 'O'}]),
EnvelopingSpan(['ellu'], [{'nertag': 'O'}]),
EnvelopingSpan(['viia'], [{'nertag': 'O'}]),
EnvelopingSpan(['kõiki'], [{'nertag': 'O'}]),
EnvelopingSpan(['plaane'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['mis'], [{'nertag': 'O'}]),
EnvelopingSpan(['olid'], [{'nertag': 'O'}]),
EnvelopingSpan(['kavandatud'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehe'], [{'nertag': 'O'}]),
EnvelopingSpan(['arendamiseks'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ent'], [{'nertag': 'O'}]),
EnvelopingSpan(['mingis'], [{'nertag': 'O'}]),
EnvelopingSpan(['mõttes'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['see'], [{'nertag': 'O'}]),
EnvelopingSpan(['hind'], [{'nertag': 'O'}]),
EnvelopingSpan(['siiski'], [{'nertag': 'O'}]),
EnvelopingSpan(['madal'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['sest'], [{'nertag': 'O'}]),
EnvelopingSpan(['sõnavabadus'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['lugeja'], [{'nertag': 'O'}]),
EnvelopingSpan(['valikuvabadus'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['hindamatu'], [{'nertag': 'O'}]),
EnvelopingSpan(['väärtus'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}])])

In [8]:
text_objects[0]['tlinks']

RelationLayer(name='tlinks', span_names=('a_text', 'b_text'), attributes=('brat_id', 'rel_type'), relations=[Relation([NamedSpan(a_text: ['oli']), NamedSpan(b_text: ['Üleeilne', 'päev'])], [{'brat_id': 'R1', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['leidsid']), NamedSpan(b_text: ['sel', 'päeval'])], [{'brat_id': 'R2', 'rel_type': 'IS_INCLUDED'}]), Relation([NamedSpan(a_text: ['kingitakse']), NamedSpan(b_text: ['praegu'])], [{'brat_id': 'R3', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['pakume']), NamedSpan(b_text: ['22.', 'juunini'])], [{'brat_id': 'R4', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['tellimust']), NamedSpan(b_text: ['nelja', 'kuu'])], [{'brat_id': 'R5', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['tellimust']), NamedSpan(b_text: ['kuue', 'kuu'])], [{'brat_id': 'R6', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['tellitud']), NamedSpan(b_text: ['31.', 'juuli'])], [{'brat_id': 'R7', 'rel_type': 'BEFORE'}]), Relation([NamedSpan(a_text: ['saadab']), NamedSpan(b_text: ['kuu', 'aja', 'jooksul'])], [{'brat_id': 'R9', 'rel_type': 'IS_INCLUDED'}]), Relation([NamedSpan(a_text: ['saadab']), NamedSpan(b_text: ['iga', 'päev'])], [{'brat_id': 'R10', 'rel_type': 'IS_INCLUDED'}]), Relation([NamedSpan(a_text: ['tellijate']), NamedSpan(b_text: ['seniste'])], [{'brat_id': 'R11', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['288', 'krooni']), NamedSpan(b_text: ['seni'])], [{'brat_id': 'R12', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['432', 'krooni']), NamedSpan(b_text: ['seni'])], [{'brat_id': 'R13', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['tellimust']), NamedSpan(b_text: ['ühe', 'kuu'])], [{'brat_id': 'R16', 'rel_type': 'SIMULTANEOUS'}]), Relation([NamedSpan(a_text: ['pikendada']), NamedSpan(b_text: ['ühe', 'kuu'])], [{'brat_id': 'R17', 'rel_type': 'BEFORE'}])])

In [9]:
text_objects[0]['event_arguments']

RelationLayer(name='event_arguments', span_names=('a_text', 'b_text'), attributes=('brat_id', 'rel_type'), relations=[Relation([NamedSpan(a_text: ['pakume']), NamedSpan(b_text: ['tellimust'])], [{'brat_id': 'R14', 'rel_type': 'has_Argument'}]), Relation([NamedSpan(a_text: ['pakume']), NamedSpan(b_text: ['tellimust'])], [{'brat_id': 'R15', 'rel_type': 'has_Argument'}]), Relation([NamedSpan(a_text: ['pikendada']), NamedSpan(b_text: ['tellimust'])], [{'brat_id': 'R8', 'rel_type': 'has_Argument'}])])

### Saving Text-objects in JSON-format

In [4]:
# -- new target directory for temporal facts corpus articles in JSON format
json_dir = 'temporal_facts_corpus_json'

if not os.path.isdir(json_dir):
    os.mkdir(json_dir)

# -- target folder path
json_dir_path = 'temporal_facts_corpus_json/'

n_saved_articles = 0
for text_obj in text_objects:
    print(text_obj.meta['filename'])
    
    # save Text-object in JSON format
    save_Text_to_json(json_dir_path, text_obj)
    n_saved_articles+=1
    
print()
print(f"Saved {n_saved_articles} articles in JSON-format.")

aja-arvamus_EPL_1998_06_12
aja-arvamus_EPL_1999_09_11
aja-arvamus_EPL_2000_03_28
aja-arvamus_EPL_2000_08_19
aja-arvamus_EPL_2003_03_07
aja-arvamus_EPL_2007_05_15
aja-arvamus_luup_1996_15
aja-arvamus_luup_1996_21
aja-arvamus_pm_1995_12_07
aja-arvamus_pm_1996_07_10
aja-arvamus_pm_1997_04_17
aja-arvamus_pm_2000_10_02
aja-eesti_EPL_1996_12_11
aja-eesti_EPL_1997_01_22
aja-eesti_EPL_1999_07_24
aja-eesti_EPL_1999_07_31
aja-eesti_EPL_2000_03_28
aja-eesti_EPL_2000_08_19
aja-eesti_EPL_2001_06_02_1
aja-eesti_EPL_2001_06_02_2
aja-eesti_EPL_2002_03_25
aja-eesti_EPL_2003_05_02
aja-eesti_EPL_2004_04_30
aja-eesti_EPL_2005_11_05
aja-eesti_EPL_2006_02_25
aja-eesti_EPL_2007_04_11
aja-eesti_luup_1996_20
aja-eesti_luup_1998_24
aja-eesti_pm_1995_11_29
aja-eesti_pm_1995_12_20
aja-eesti_pm_1997_04_08
aja-eesti_pm_1997_07_17
aja-eesti_pm_1998_05_07.tasak
aja-eesti_pm_1998_12_14
aja-kultuur_EPL_1995_11_16
aja-kultuur_EPL_1997_01_14
aja-kultuur_EPL_1997_09_24
aja-kultuur_EPL_1997_11_03
aja-kultuur_EPL_1999_03_16
aja-kultuur_EPL_2003_02_19
aja-kultuur_luup_1997_23
aja-kultuur_luup_1998_16
aja-kultuur_pm_1996_05_03
aja-kultuur_pm_2000_04_04
aja-majandus_EPL_1996_03_13
aja-majandus_EPL_1997_02_04
aja-majandus_EPL_1997_10_29
aja-majandus_EPL_1997_11_03
aja-majandus_EPL_2002_01_09
aja-majandus_EPL_2004_10_01
aja-majandus_luup_2002_01
aja-majandus_pm_1998_04_22
aja-majandus_pm_1998_06_30
aja-majandus_pm_2000_08_16
aja-sport_EPL_1997_01_22
aja-sport_EPL_2001_06_10
aja-sport_EPL_2001_12_07
aja-sport_EPL_2003_02_19
aja-sport_EPL_2005_07_16
aja-sport_EPL_2006_05_08
aja-sport_luup_1996_21
aja-sport_luup_1997_19
aja-sport_pm_1996_05_31
aja-sport_pm_1996_10_01
aja-sport_pm_1996_10_11
aja-sport_pm_2000_08_11
aja-valismaa_EPL_1998_08_28
aja-valismaa_EPL_1999_04_10
aja-valismaa_EPL_2000_01_07
aja-valismaa_EPL_2002_06_25
aja-valismaa_EPL_2004_04_21
aja-valismaa_EPL_2006_07_26
aja-valismaa_EPL_2007_05_03
aja-valismaa_luup_1996_27
aja-valismaa_luup_2000_11
aja-valismaa_pm_1996_06_27
aja-valismaa_pm_1998_07_28
ajalugu_horisont_1998_1
ajalugu_horisont_1998_2
ajalugu_horisont_1999
ajalugu_horisont_2002
ajalugu_horisont_2003
rkogu_1997_07
rkogu_2000_02
rkogu_2001_09

Saved 85 articles in JSON-format.