In [1]:
# imports
import os
from corpus_methods.TimeML_corpus_reading import *
from corpus_methods.TimeML_Text_object_with_layers import create_Text_object_with_layers
from corpus_methods.file_operations import *

In [3]:
#!python EstTimeMLCorpus/exported_corpus_reader.py EstTimeMLCorpus/corpus

### Creating Text-object with layers of one example article

In [2]:
baseAnnotations = load_base_segmentation(baseAnnotationFile)
(eventsByLoc, eventsByID) = load_entity_annotation(eventAnnotationFile)
articlesDCT = load_articles_DCT(articleMetadata_file)
sentence_events =  eventsByLoc.get('aja_ml_2002_47.tasak.a023.sol')
sentence_events =  eventsByID.get('aja_ml_2002_47.tasak.a023.sol')
(timexesByLoc, timexesByID) = load_entity_annotation(timexAnnotationFile)
sentence_timex = timexesByLoc.get('aja_ml_2002_47.tasak.a023.sol')
event_timex_relations = load_relation_annotation(tlinkEventTimexFile)
event_dct_relations = load_relation_to_dct_annotations(tlinkEventDCTFile)

Creating Text-object with layers:

In [3]:
text_obj = create_Text_object_with_layers('aja_ml_2002_47.tasak.a023.sol', articlesDCT, baseAnnotations, 
                                           eventsByLoc, timexesByLoc, event_timex_relations, event_dct_relations)

In [6]:
text_obj.gold_events

Layer(name='gold_events', attributes=('corpus_sentence_ID', 'corpus_word_ID', 'event_ID', 'expression', 'event_annotation', 'event_class'), spans=SL[Span('piimavarumisel', [{'corpus_sentence_ID': 1, 'corpus_word_ID': 3, 'event_ID': 'e1', 'expression': '"piimavarumisel"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('kestnud', [{'corpus_sentence_ID': 1, 'corpus_word_ID': 4, 'event_ID': 'e2', 'expression': '"kestnud"', 'event_annotation': 'EVENT ASPECTUAL comment="fraas: kestnud anarhia"', 'event_class': 'ASPECTUAL'}]),
Span('anarhia', [{'corpus_sentence_ID': 1, 'corpus_word_ID': 5, 'event_ID': 'e3', 'expression': '"anarhia"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('tundubki', [{'corpus_sentence_ID': 2, 'corpus_word_ID': 2, 'event_ID': 'e4', 'expression': '"tundubki"', 'event_annotation': 'EVENT I_STATE', 'event_class': 'I_STATE'}]),
Span('hakkavad', [{'corpus_sentence_ID': 2, 'corpus_word_ID': 7, 'event_ID': 'e5', 'expression': '"hakkavad"', 'event_annotation': 'EVENT ASPECTUAL', 'event_class': 'ASPECTUAL'}]),
Span('saama', [{'corpus_sentence_ID': 2, 'corpus_word_ID': 9, 'event_ID': 'e6', 'expression': '"saama"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('tuleb', [{'corpus_sentence_ID': 2, 'corpus_word_ID': 11, 'event_ID': 'e7', 'expression': '"tuleb"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('on', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 5, 'event_ID': 'e8', 'expression': '"on võlgu"', 'event_annotation': 'EVENT STATE multiword="true"', 'event_class': 'STATE'}]),
Span('võlgu', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 9, 'event_ID': 'e8', 'expression': '"on võlgu"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('pälvis', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 11, 'event_ID': 'e9', 'expression': '"pälvis"', 'event_annotation': 'EVENT OCCURRENCE comment="ka I_STATE: see, et on võlgu, pälvis tähelepanu"', 'event_class': 'OCCURRENCE'}]),
Span('tahtis', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 19, 'event_ID': 'e10', 'expression': '"tahtis"', 'event_annotation': 'EVENT I_STATE', 'event_class': 'I_STATE'}]),
Span('teenete', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 27, 'event_ID': 'e11', 'expression': '"teenete"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('kinkida', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 30, 'event_ID': 'e12', 'expression': '"kinkida"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('võtab', [{'corpus_sentence_ID': 4, 'corpus_word_ID': 2, 'event_ID': 'e13', 'expression': '"võtab"', 'event_annotation': 'EVENT STATE comment="fraas: võtab kokku"', 'event_class': 'STATE'}]),
Span('saadetud', [{'corpus_sentence_ID': 4, 'corpus_word_ID': 8, 'event_ID': 'e14', 'expression': '"saadetud"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('kirjutasid', [{'corpus_sentence_ID': 5, 'corpus_word_ID': 1, 'event_ID': 'e15', 'expression': '"kirjutasid"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('saamata', [{'corpus_sentence_ID': 5, 'corpus_word_ID': 10, 'event_ID': 'e16', 'expression': '"saamata"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('seisab', [{'corpus_sentence_ID': 6, 'corpus_word_ID': 1, 'event_ID': 'e17', 'expression': '"seisab"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('palume', [{'corpus_sentence_ID': 6, 'corpus_word_ID': 6, 'event_ID': 'e18', 'expression': '"palume"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('abi', [{'corpus_sentence_ID': 6, 'corpus_word_ID': 8, 'event_ID': 'e19', 'expression': '"abi"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('tunneks', [{'corpus_sentence_ID': 6, 'corpus_word_ID': 15, 'event_ID': 'e20', 'expression': '"tunneks"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('oskaks', [{'corpus_sentence_ID': 6, 'corpus_word_ID': 18, 'event_ID': 'e21', 'expression': '"oskaks"', 'event_annotation': 'EVENT I_STATE', 'event_class': 'I_STATE'}]),
Span('kaitsta', [{'corpus_sentence_ID': 6, 'corpus_word_ID': 24, 'event_ID': 'e22', 'expression': '"kaitsta"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('saamata', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 3, 'event_ID': 'e23', 'expression': '"saamata"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('tähendab', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 5, 'event_ID': 'e24', 'expression': '"tähendab"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('pole', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 7, 'event_ID': 'e25', 'expression': '"pole vaja"', 'event_annotation': 'EVENT STATE polarity="NEG" multiword="true"', 'event_class': 'STATE'}]),
Span('vaja', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 8, 'event_ID': 'e25', 'expression': '"pole vaja"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('seletada', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 9, 'event_ID': 'e26', 'expression': '"seletada"', 'event_annotation': 'EVENT OCCURRENCE polarity="NEG"', 'event_class': 'OCCURRENCE'}]),
Span('on', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 14, 'event_ID': 'e27', 'expression': '"on"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('on', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 6, 'event_ID': 'e28', 'expression': '"on üksi"', 'event_annotation': 'EVENT STATE multiword="true"', 'event_class': 'STATE'}]),
Span('üksi', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 10, 'event_ID': 'e28', 'expression': '"on üksi"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('peaksid', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 16, 'event_ID': 'e29', 'expression': '"peaksid"', 'event_annotation': 'EVENT MODAL', 'event_class': 'MODAL'}]),
Span('abi', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 17, 'event_ID': 'e30', 'expression': '"abi"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('pakkuma', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 18, 'event_ID': 'e31', 'expression': '"pakkuma"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('leiavad', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 20, 'event_ID': 'e32', 'expression': '"leiavad"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('aidata', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 26, 'event_ID': 'e33', 'expression': '"aidata"', 'event_annotation': 'EVENT OCCURRENCE polarity="NEG"', 'event_class': 'OCCURRENCE'}]),
Span('pole', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 27, 'event_ID': 'e34', 'expression': '"pole võimalik"', 'event_annotation': 'EVENT STATE polarity="NEG" multiword="true"', 'event_class': 'STATE'}]),
Span('võimalik', [{'corpus_sentence_ID': 8, 'corpus_word_ID': 28, 'event_ID': 'e34', 'expression': '"pole võimalik"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('püüab', [{'corpus_sentence_ID': 9, 'corpus_word_ID': 1, 'event_ID': 'e35', 'expression': '"püüab"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('lahendusi', [{'corpus_sentence_ID': 9, 'corpus_word_ID': 2, 'event_ID': 'e36', 'expression': '"lahendusi"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('otsida', [{'corpus_sentence_ID': 9, 'corpus_word_ID': 3, 'event_ID': 'e37', 'expression': '"otsida"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('kiiranalüüsi', [{'corpus_sentence_ID': 9, 'corpus_word_ID': 5, 'event_ID': 'e38', 'expression': '"kiiranalüüsi tehes"', 'event_annotation': 'EVENT OCCURRENCE multiword="true"', 'event_class': 'OCCURRENCE'}]),
Span('tehes', [{'corpus_sentence_ID': 9, 'corpus_word_ID': 6, 'event_ID': 'e38', 'expression': '"kiiranalüüsi tehes"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'OCCURRENCE'}]),
Span('Tekib', [{'corpus_sentence_ID': 10, 'corpus_word_ID': 0, 'event_ID': 'e39', 'expression': '"Tekib"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('ülevaadet', [{'corpus_sentence_ID': 10, 'corpus_word_ID': 4, 'event_ID': 'e41', 'expression': '"ülevaadet polnudki"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('toimuvast', [{'corpus_sentence_ID': 10, 'corpus_word_ID': 6, 'event_ID': 'e40', 'expression': '"toimuvast"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('polnudki', [{'corpus_sentence_ID': 10, 'corpus_word_ID': 10, 'event_ID': 'e41', 'expression': '"ülevaadet polnudki"', 'event_annotation': 'EVENT STATE polarity="NEG" multiword="true"', 'event_class': 'STATE'}]),
Span('probleemidest', [{'corpus_sentence_ID': 11, 'corpus_word_ID': 2, 'event_ID': 'e42', 'expression': '"probleemidest"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('õpitud', [{'corpus_sentence_ID': 11, 'corpus_word_ID': 4, 'event_ID': 'e43', 'expression': '"õpitud"', 'event_annotation': 'EVENT OCCURRENCE polarity="NEG"', 'event_class': 'OCCURRENCE'}]),
Span('hinnang', [{'corpus_sentence_ID': 12, 'corpus_word_ID': 3, 'event_ID': 'e44', 'expression': '"hinnang"', 'event_annotation': 'EVENT OCCURRENCE comment="vaieldav, kas märgendada"', 'event_class': 'OCCURRENCE'}]),
Span('tuleb', [{'corpus_sentence_ID': 12, 'corpus_word_ID': 4, 'event_ID': 'e45', 'expression': '"tuleb"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('püütakse', [{'corpus_sentence_ID': 12, 'corpus_word_ID': 8, 'event_ID': 'e46', 'expression': '"püütakse"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('euroläbirääkimiste', [{'corpus_sentence_ID': 12, 'corpus_word_ID': 10, 'event_ID': 'e47', 'expression': '"euroläbirääkimiste"', 'event_annotation': 'EVENT OCCURRENCE comment="vaieldav, kas märgendada"', 'event_class': 'OCCURRENCE'}]),
Span('ilustada', [{'corpus_sentence_ID': 12, 'corpus_word_ID': 12, 'event_ID': 'e48', 'expression': '"ilustada"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('sundis', [{'corpus_sentence_ID': 13, 'corpus_word_ID': 11, 'event_ID': 'e49', 'expression': '"sundis"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('kergitama', [{'corpus_sentence_ID': 13, 'corpus_word_ID': 14, 'event_ID': 'e50', 'expression': '"kergitama"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('nutavad', [{'corpus_sentence_ID': 13, 'corpus_word_ID': 17, 'event_ID': 'e51', 'expression': '"nutavad"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('muretseb', [{'corpus_sentence_ID': 15, 'corpus_word_ID': 1, 'event_ID': 'e52', 'expression': '"muretseb"', 'event_annotation': 'EVENT I_STATE', 'event_class': 'I_STATE'}]),
Span('laenu', [{'corpus_sentence_ID': 15, 'corpus_word_ID': 6, 'event_ID': 'e53', 'expression': '"laenu"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('saada', [{'corpus_sentence_ID': 15, 'corpus_word_ID': 8, 'event_ID': 'e54', 'expression': '"saada"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('leiab', [{'corpus_sentence_ID': 16, 'corpus_word_ID': 1, 'event_ID': 'e55', 'expression': '"leiab"', 'event_annotation': 'EVENT I_STATE', 'event_class': 'I_STATE'}]),
Span('abi', [{'corpus_sentence_ID': 16, 'corpus_word_ID': 5, 'event_ID': 'e56', 'expression': '"abi"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('on', [{'corpus_sentence_ID': 16, 'corpus_word_ID': 8, 'event_ID': 'e57', 'expression': '"on raiskamine"', 'event_annotation': 'EVENT STATE multiword="true"', 'event_class': 'STATE'}]),
Span('raiskamine', [{'corpus_sentence_ID': 16, 'corpus_word_ID': 9, 'event_ID': 'e57', 'expression': '"on raiskamine"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('oodatakse', [{'corpus_sentence_ID': 17, 'corpus_word_ID': 2, 'event_ID': 'e58', 'expression': '"oodatakse"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('oodatakse', [{'corpus_sentence_ID': 17, 'corpus_word_ID': 4, 'event_ID': 'e59', 'expression': '"oodatakse"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('töötatakse', [{'corpus_sentence_ID': 18, 'corpus_word_ID': 2, 'event_ID': 'e60', 'expression': '"töötatakse"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('katmiseks', [{'corpus_sentence_ID': 18, 'corpus_word_ID': 7, 'event_ID': 'e61', 'expression': '"katmiseks"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('saa', [{'corpus_sentence_ID': 18, 'corpus_word_ID': 10, 'event_ID': 'e62', 'expression': '"saa"', 'event_annotation': 'EVENT MODAL polarity="NEG"', 'event_class': 'MODAL'}]),
Span('vaadata', [{'corpus_sentence_ID': 18, 'corpus_word_ID': 12, 'event_ID': 'e63', 'expression': '"vaadata"', 'event_annotation': 'EVENT OCCURRENCE polarity="NEG" comment="fraas: vaadata üksikjuhtumina"', 'event_class': 'OCCURRENCE'}]),
Span('lonkab', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 2, 'event_ID': 'e64', 'expression': '"lonkab"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('jõuta', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 6, 'event_ID': 'e65', 'expression': '"jõuta"', 'event_annotation': 'EVENT I_STATE polarity="NEG" comment="ka OCCURRENCE"', 'event_class': 'I_STATE'}]),
Span('kokkuleppele', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 7, 'event_ID': 'e66', 'expression': '"kokkuleppele"', 'event_annotation': 'EVENT OCCURRENCE polarity="NEG"', 'event_class': 'OCCURRENCE'}]),
Span('on', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 11, 'event_ID': 'e67', 'expression': '"on haige"', 'event_annotation': 'EVENT STATE multiword="true"', 'event_class': 'STATE'}]),
Span('haige', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 12, 'event_ID': 'e67', 'expression': '"on haige"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('on', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 14, 'event_ID': 'e68', 'expression': '"on tegu"', 'event_annotation': 'EVENT STATE multiword="true"', 'event_class': 'STATE'}]),
Span('tegu', [{'corpus_sentence_ID': 19, 'corpus_word_ID': 15, 'event_ID': 'e68', 'expression': '"on tegu"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('kuuluvad', [{'corpus_sentence_ID': 20, 'corpus_word_ID': 5, 'event_ID': 'e69', 'expression': '"kuuluvad"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('on', [{'corpus_sentence_ID': 20, 'corpus_word_ID': 11, 'event_ID': 'e70', 'expression': '"on"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('olnud', [{'corpus_sentence_ID': 21, 'corpus_word_ID': 4, 'event_ID': 'e71', 'expression': '"olnud"', 'event_annotation': 'EVENT STATE comment="vaieldav, kas märgendada"', 'event_class': 'STATE'}]),
Span('ühistegevust', [{'corpus_sentence_ID': 21, 'corpus_word_ID': 5, 'event_ID': 'e72', 'expression': '"ühistegevust"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('toetada', [{'corpus_sentence_ID': 21, 'corpus_word_ID': 10, 'event_ID': 'e73', 'expression': '"toetada"', 'event_annotation': 'EVENT I_ACTION polarity="NEG"', 'event_class': 'I_ACTION'}]),
Span('tahtnud', [{'corpus_sentence_ID': 21, 'corpus_word_ID': 11, 'event_ID': 'e74', 'expression': '"tahtnud"', 'event_annotation': 'EVENT I_STATE polarity="NEG"', 'event_class': 'I_STATE'}]),
Span('õitseksid', [{'corpus_sentence_ID': 22, 'corpus_word_ID': 3, 'event_ID': 'e75', 'expression': '"õitseksid"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('pudeneks', [{'corpus_sentence_ID': 22, 'corpus_word_ID': 9, 'event_ID': 'e76', 'expression': '"pudeneks"', 'event_annotation': 'EVENT OCCURRENCE polarity="NEG"', 'event_class': 'OCCURRENCE'}]),
Span('pidamine', [{'corpus_sentence_ID': 23, 'corpus_word_ID': 4, 'event_ID': 'e77', 'expression': '"pidamine"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('tundub', [{'corpus_sentence_ID': 23, 'corpus_word_ID': 5, 'event_ID': 'e78', 'expression': '"tundub tühine"', 'event_annotation': 'EVENT I_STATE multiword="true"', 'event_class': 'I_STATE'}]),
Span('tühine', [{'corpus_sentence_ID': 23, 'corpus_word_ID': 10, 'event_ID': 'e78', 'expression': '"tundub tühine"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'I_STATE'}]),
Span('pole', [{'corpus_sentence_ID': 24, 'corpus_word_ID': 2, 'event_ID': 'e79', 'expression': '"pole"', 'event_annotation': 'EVENT STATE polarity="NEG"', 'event_class': 'STATE'}]),
Span('võtta', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 5, 'event_ID': 'e80', 'expression': '"võtta"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('on', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 9, 'event_ID': 'e81', 'expression': '"on otstarbekam"', 'event_annotation': 'EVENT STATE multiword="true"', 'event_class': 'STATE'}]),
Span('otstarbekam', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 10, 'event_ID': 'e81', 'expression': '"on otstarbekam"', 'event_annotation': 'EVENT multiword="true"', 'event_class': 'STATE'}]),
Span('maksta', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 13, 'event_ID': 'e82', 'expression': '"maksta"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('anda', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 20, 'event_ID': 'e83', 'expression': '"anda"', 'event_annotation': 'EVENT I_ACTION', 'event_class': 'I_ACTION'}]),
Span('võimalus', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 22, 'event_ID': 'e84', 'expression': '"võimalus"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('tulla', [{'corpus_sentence_ID': 25, 'corpus_word_ID': 25, 'event_ID': 'e85', 'expression': '"tulla"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('oskavad', [{'corpus_sentence_ID': 26, 'corpus_word_ID': 5, 'event_ID': 'e86', 'expression': '"oskavad"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('austavad', [{'corpus_sentence_ID': 26, 'corpus_word_ID': 7, 'event_ID': 'e87', 'expression': '"austavad"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('võetakse', [{'corpus_sentence_ID': 27, 'corpus_word_ID': 3, 'event_ID': 'e88', 'expression': '"võetakse"', 'event_annotation': 'EVENT OCCURRENCE comment="fraas: võetakse loomuliku nähtusena"', 'event_class': 'OCCURRENCE'}]),
Span('jäägi', [{'corpus_sentence_ID': 28, 'corpus_word_ID': 2, 'event_ID': 'e89', 'expression': '"jäägi"', 'event_annotation': 'EVENT STATE polarity="NEG" comment="ka OCCURRENCE"', 'event_class': 'STATE'}]),
Span('võtta', [{'corpus_sentence_ID': 28, 'corpus_word_ID': 14, 'event_ID': 'e90', 'expression': '"võtta"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('viia', [{'corpus_sentence_ID': 28, 'corpus_word_ID': 19, 'event_ID': 'e91', 'expression': '"viia"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}]),
Span('saamata', [{'corpus_sentence_ID': 29, 'corpus_word_ID': 1, 'event_ID': 'e92', 'expression': '"saamata"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('järjekord', [{'corpus_sentence_ID': 29, 'corpus_word_ID': 4, 'event_ID': 'e93', 'expression': '"järjekord"', 'event_annotation': 'EVENT STATE', 'event_class': 'STATE'}]),
Span('maksan', [{'corpus_sentence_ID': 29, 'corpus_word_ID': 6, 'event_ID': 'e94', 'expression': '"maksan"', 'event_annotation': 'EVENT OCCURRENCE', 'event_class': 'OCCURRENCE'}])])

In [4]:
text_obj.gold_timexes

Layer(name='gold_timexes', attributes=('corpus_sentence_ID', 'corpus_word_ID', 'timex_ID', 'expression', 'timex_annotation', 'type', 'value'), spans=SL[Span('20.11.2002', [{'corpus_sentence_ID': 0, 'corpus_word_ID': 0, 'timex_ID': 't1', 'expression': '"20.11.2002"', 'timex_annotation': 'TIMEX DATE 2002-11-20 functionInDocument="CREATION_TIME"', 'type': 'DATE', 'value': '2002-11-20'}]),
Span('aastaid', [{'corpus_sentence_ID': 1, 'corpus_word_ID': 1, 'timex_ID': 't2', 'expression': '"aastaid"', 'timex_annotation': 'TIMEX DURATION PXY', 'type': 'DURATION', 'value': 'PXY'}]),
Span('kuude', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 7, 'timex_ID': 't3', 'expression': '"kuude kaupa"', 'timex_annotation': 'TIMEX DURATION PXM multiword="true"', 'type': 'DURATION', 'value': 'PXM'}]),
Span('kaupa', [{'corpus_sentence_ID': 3, 'corpus_word_ID': 8, 'timex_ID': 't3', 'expression': '"kuude kaupa"', 'timex_annotation': 'TIMEX multiword="true"', 'type': 'DURATION', 'value': 'PXM'}]),
Span('seitse', [{'corpus_sentence_ID': 5, 'corpus_word_ID': 8, 'timex_ID': 't4', 'expression': '"seitse kuud"', 'timex_annotation': 'TIMEX DURATION P7M multiword="true"', 'type': 'DURATION', 'value': 'P7M'}]),
Span('kuud', [{'corpus_sentence_ID': 5, 'corpus_word_ID': 9, 'timex_ID': 't4', 'expression': '"seitse kuud"', 'timex_annotation': 'TIMEX multiword="true"', 'type': 'DURATION', 'value': 'P7M'}]),
Span('kuude', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 1, 'timex_ID': 't5', 'expression': '"kuude kaupa"', 'timex_annotation': 'TIMEX DURATION PXM multiword="true"', 'type': 'DURATION', 'value': 'PXM'}]),
Span('kaupa', [{'corpus_sentence_ID': 7, 'corpus_word_ID': 2, 'timex_ID': 't5', 'expression': '"kuude kaupa"', 'timex_annotation': 'TIMEX multiword="true"', 'type': 'DURATION', 'value': 'PXM'}]),
Span('varem', [{'corpus_sentence_ID': 10, 'corpus_word_ID': 9, 'timex_ID': 't6', 'expression': '"varem"', 'timex_annotation': 'TIMEX DATE PAST_REF', 'type': 'DATE', 'value': 'PAST_REF'}]),
Span('senistest', [{'corpus_sentence_ID': 11, 'corpus_word_ID': 1, 'timex_ID': 't7', 'expression': '"senistest"', 'timex_annotation': 'TIMEX DATE PRESENT_REF', 'type': 'DATE', 'value': 'PRESENT_REF'}]),
Span('kunagi', [{'corpus_sentence_ID': 13, 'corpus_word_ID': 10, 'timex_ID': 't8', 'expression': '"kunagi"', 'timex_annotation': 'TIMEX DATE PAST_REF', 'type': 'DATE', 'value': 'PAST_REF'}]),
Span('praegu', [{'corpus_sentence_ID': 18, 'corpus_word_ID': 1, 'timex_ID': 't9', 'expression': '"praegu"', 'timex_annotation': 'TIMEX DATE PRESENT_REF', 'type': 'DATE', 'value': 'PRESENT_REF'}]),
Span('kunagi', [{'corpus_sentence_ID': 21, 'corpus_word_ID': 1, 'timex_ID': 't10', 'expression': '"kunagi"', 'timex_annotation': 'TIMEX DATE PAST_REF', 'type': 'DATE', 'value': 'PAST_REF'}]),
Span('tänases', [{'corpus_sentence_ID': 27, 'corpus_word_ID': 4, 'timex_ID': 't11', 'expression': '"tänases"', 'timex_annotation': 'TIMEX DATE PRESENT_REF', 'type': 'DATE', 'value': 'PRESENT_REF'}]),
Span('ühel', [{'corpus_sentence_ID': 28, 'corpus_word_ID': 4, 'timex_ID': 't12', 'expression': '"ühel heal päeval"', 'timex_annotation': 'TIMEX DATE XXXX-XX-XX multiword="true"', 'type': 'DATE', 'value': 'XXXX-XX-XX'}]),
Span('heal', [{'corpus_sentence_ID': 28, 'corpus_word_ID': 5, 'timex_ID': 't12', 'expression': '"ühel heal päeval"', 'timex_annotation': 'TIMEX multiword="true"', 'type': 'DATE', 'value': 'XXXX-XX-XX'}]),
Span('päeval', [{'corpus_sentence_ID': 28, 'corpus_word_ID': 6, 'timex_ID': 't12', 'expression': '"ühel heal päeval"', 'timex_annotation': 'TIMEX multiword="true"', 'type': 'DATE', 'value': 'XXXX-XX-XX'}])])

In [5]:
text_obj.gold_word_events

Layer(name='gold_word_events', attributes=('nertag',), spans=SL[EnvelopingSpan(['20.11.2002'], [{'nertag': 'O'}]),
EnvelopingSpan(['Juba'], [{'nertag': 'O'}]),
EnvelopingSpan(['aastaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'O'}]),
EnvelopingSpan(['piimavarumisel'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['kestnud'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['anarhia'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kui'], [{'nertag': 'O'}]),
EnvelopingSpan(['vahepeal'], [{'nertag': 'O'}]),
EnvelopingSpan(['tundubki'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['et'], [{'nertag': 'O'}]),
EnvelopingSpan(['suuremad'], [{'nertag': 'O'}]),
EnvelopingSpan(['hädad'], [{'nertag': 'O'}]),
EnvelopingSpan(['hakkavad'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['mööda'], [{'nertag': 'O'}]),
EnvelopingSpan(['saama'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['tuleb'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['uus'], [{'nertag': 'O'}]),
EnvelopingSpan(['löök'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['See'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['et'], [{'nertag': 'O'}]),
EnvelopingSpan(['Rapla'], [{'nertag': 'O'}]),
EnvelopingSpan(['Dairy'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['lehmapidajatele'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuude'], [{'nertag': 'O'}]),
EnvelopingSpan(['kaupa'], [{'nertag': 'O'}]),
EnvelopingSpan(['võlgu'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['pälvis'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['laiemat'], [{'nertag': 'O'}]),
EnvelopingSpan(['tähelepanu'], [{'nertag': 'O'}]),
EnvelopingSpan(['alles'], [{'nertag': 'O'}]),
EnvelopingSpan(['siis'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kui'], [{'nertag': 'O'}]),
EnvelopingSpan(['riik'], [{'nertag': 'O'}]),
EnvelopingSpan(['tahtis'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['firmat'], [{'nertag': 'O'}]),
EnvelopingSpan(['juhtivale'], [{'nertag': 'O'}]),
EnvelopingSpan(['Afganistani'], [{'nertag': 'O'}]),
EnvelopingSpan(['eruohvitserile'], [{'nertag': 'O'}]),
EnvelopingSpan(['Jaqub'], [{'nertag': 'O'}]),
EnvelopingSpan(['Haidaryle'], [{'nertag': 'O'}]),
EnvelopingSpan(['eriliste'], [{'nertag': 'O'}]),
EnvelopingSpan(['teenete'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['eest'], [{'nertag': 'O'}]),
EnvelopingSpan(['kodakondsuse'], [{'nertag': 'O'}]),
EnvelopingSpan(['kinkida'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Mure'], [{'nertag': 'O'}]),
EnvelopingSpan(['suuruse'], [{'nertag': 'O'}]),
EnvelopingSpan(['võtab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['oma'], [{'nertag': 'O'}]),
EnvelopingSpan(['ilmekas'], [{'nertag': 'O'}]),
EnvelopingSpan(['lihtsuses'], [{'nertag': 'O'}]),
EnvelopingSpan(['kokku'], [{'nertag': 'O'}]),
EnvelopingSpan(['põllumajandusministeeriumile'], [{'nertag': 'O'}]),
EnvelopingSpan(['saadetud'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['abipalve'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Selle'], [{'nertag': 'O'}]),
EnvelopingSpan(['kirjutasid'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['kaheksa'], [{'nertag': 'O'}]),
EnvelopingSpan(['Noarootsi'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehmapidajat'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kel'], [{'nertag': 'O'}]),
EnvelopingSpan(['piimaraha'], [{'nertag': 'O'}]),
EnvelopingSpan(['seitse'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuud'], [{'nertag': 'O'}]),
EnvelopingSpan(['saamata'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kirjas'], [{'nertag': 'O'}]),
EnvelopingSpan(['seisab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([':'], [{'nertag': 'O'}]),
EnvelopingSpan(['"'], [{'nertag': 'O'}]),
EnvelopingSpan(['Võimaluse'], [{'nertag': 'O'}]),
EnvelopingSpan(['piires'], [{'nertag': 'O'}]),
EnvelopingSpan(['palume'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tasuta'], [{'nertag': 'O'}]),
EnvelopingSpan(['abi'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['juristi'], [{'nertag': 'O'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['advokaadi'], [{'nertag': 'O'}]),
EnvelopingSpan(['näol'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kes'], [{'nertag': 'O'}]),
EnvelopingSpan(['tunneks'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['seadusi'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['oskaks'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['meid'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['vaeseid'], [{'nertag': 'O'}]),
EnvelopingSpan(['piimatootjaid'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kaitsta'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['"'], [{'nertag': 'O'}]),
EnvelopingSpan(['Mida'], [{'nertag': 'O'}]),
EnvelopingSpan(['kuude'], [{'nertag': 'O'}]),
EnvelopingSpan(['kaupa'], [{'nertag': 'O'}]),
EnvelopingSpan(['saamata'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['piimaraha'], [{'nertag': 'O'}]),
EnvelopingSpan(['tähendab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['pole'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['vaja'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['seletada'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['maainimesele'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kellele'], [{'nertag': 'O'}]),
EnvelopingSpan(['see'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['üks'], [{'nertag': 'O'}]),
EnvelopingSpan(['põhilisi'], [{'nertag': 'O'}]),
EnvelopingSpan(['elatusallikaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Mis'], [{'nertag': 'O'}]),
EnvelopingSpan(['kõige'], [{'nertag': 'O'}]),
EnvelopingSpan(['hullem'], [{'nertag': 'O'}]),
EnvelopingSpan(['-'], [{'nertag': 'O'}]),
EnvelopingSpan(['need'], [{'nertag': 'O'}]),
EnvelopingSpan(['inimesed'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['oma'], [{'nertag': 'O'}]),
EnvelopingSpan(['murega'], [{'nertag': 'O'}]),
EnvelopingSpan(['sisuliselt'], [{'nertag': 'O'}]),
EnvelopingSpan(['üksi'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['sest'], [{'nertag': 'O'}]),
EnvelopingSpan(['need'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kes'], [{'nertag': 'O'}]),
EnvelopingSpan(['peaksid'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['abi'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['pakkuma'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['leiavad'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['alati'], [{'nertag': 'O'}]),
EnvelopingSpan(['tuhat'], [{'nertag': 'O'}]),
EnvelopingSpan(['põhjendust'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['miks'], [{'nertag': 'O'}]),
EnvelopingSpan(['aidata'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['pole'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['võimalik'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Põllumajandusministeerium'], [{'nertag': 'O'}]),
EnvelopingSpan(['püüab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['lahendusi'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['otsida'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['piimasektorile'], [{'nertag': 'O'}]),
EnvelopingSpan(['kiiranalüüsi'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tehes'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Tekib'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['küsimus'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kas'], [{'nertag': 'O'}]),
EnvelopingSpan(['ülevaadet'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['piimanduses'], [{'nertag': 'O'}]),
EnvelopingSpan(['toimuvast'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['siis'], [{'nertag': 'O'}]),
EnvelopingSpan(['ministeeriumil'], [{'nertag': 'O'}]),
EnvelopingSpan(['varem'], [{'nertag': 'O'}]),
EnvelopingSpan(['polnudki'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kas'], [{'nertag': 'O'}]),
EnvelopingSpan(['senistest'], [{'nertag': 'O'}]),
EnvelopingSpan(['probleemidest'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['pole'], [{'nertag': 'O'}]),
EnvelopingSpan(['õpitud'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['?'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['kas'], [{'nertag': 'O'}]),
EnvelopingSpan(['see'], [{'nertag': 'O'}]),
EnvelopingSpan(['hinnang'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tuleb'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ikka'], [{'nertag': 'O'}]),
EnvelopingSpan(['objektiivne'], [{'nertag': 'O'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['püütakse'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['seisu'], [{'nertag': 'O'}]),
EnvelopingSpan(['euroläbirääkimiste'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['taustal'], [{'nertag': 'O'}]),
EnvelopingSpan(['ilustada'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Teised'], [{'nertag': 'O'}]),
EnvelopingSpan(['piimatööstused'], [{'nertag': 'O'}]),
EnvelopingSpan(['vaevalt'], [{'nertag': 'O'}]),
EnvelopingSpan(['Dairyt'], [{'nertag': 'O'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['tema'], [{'nertag': 'O'}]),
EnvelopingSpan(['eelkäijat'], [{'nertag': 'O'}]),
EnvelopingSpan(['Lactot'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kes'], [{'nertag': 'O'}]),
EnvelopingSpan(['kunagi'], [{'nertag': 'O'}]),
EnvelopingSpan(['sundis'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['neid'], [{'nertag': 'O'}]),
EnvelopingSpan(['kokkuostuhinda'], [{'nertag': 'O'}]),
EnvelopingSpan(['kergitama'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['taga'], [{'nertag': 'O'}]),
EnvelopingSpan(['nutavad'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Üks'], [{'nertag': 'O'}]),
EnvelopingSpan(['konkurent'], [{'nertag': 'O'}]),
EnvelopingSpan(['vähem'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Pank'], [{'nertag': 'O'}]),
EnvelopingSpan(['muretseb'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['jälle'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kuidas'], [{'nertag': 'O'}]),
EnvelopingSpan(['oma'], [{'nertag': 'O'}]),
EnvelopingSpan(['laenu'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tagasi'], [{'nertag': 'O'}]),
EnvelopingSpan(['saada'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Peaminister'], [{'nertag': 'O'}]),
EnvelopingSpan(['leiab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['et'], [{'nertag': 'O'}]),
EnvelopingSpan(['rahaline'], [{'nertag': 'O'}]),
EnvelopingSpan(['abi'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['raskustes'], [{'nertag': 'O'}]),
EnvelopingSpan(['firmadele'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['raiskamine'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Aga'], [{'nertag': 'O'}]),
EnvelopingSpan(['maal'], [{'nertag': 'O'}]),
EnvelopingSpan(['oodatakse'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['oodatakse'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['piimaraha'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kuigi'], [{'nertag': 'O'}]),
EnvelopingSpan(['praegu'], [{'nertag': 'O'}]),
EnvelopingSpan(['töötatakse'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['välja'], [{'nertag': 'O'}]),
EnvelopingSpan(['skeemi'], [{'nertag': 'O'}]),
EnvelopingSpan(['Dairy'], [{'nertag': 'O'}]),
EnvelopingSpan(['võlgade'], [{'nertag': 'O'}]),
EnvelopingSpan(['katmiseks'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['saa'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['Dairyt'], [{'nertag': 'O'}]),
EnvelopingSpan(['vaadata'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ainult'], [{'nertag': 'O'}]),
EnvelopingSpan(['üksikjuhtumina'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kogu'], [{'nertag': 'O'}]),
EnvelopingSpan(['süsteem'], [{'nertag': 'O'}]),
EnvelopingSpan(['lonkab'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['ainult'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['jõuta'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['kokkuleppele'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kumb'], [{'nertag': 'O'}]),
EnvelopingSpan(['jalg'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['haige'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tegu'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['hoopis'], [{'nertag': 'O'}]),
EnvelopingSpan(['psüühikahäirega'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Teistes'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['arenenumates'], [{'nertag': 'O'}]),
EnvelopingSpan(['riikides'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kuuluvad'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['piimatööstused'], [{'nertag': 'O'}]),
EnvelopingSpan(['enamasti'], [{'nertag': 'O'}]),
EnvelopingSpan(['ühistutele'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['mis'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tootjate'], [{'nertag': 'O'}]),
EnvelopingSpan(['endi'], [{'nertag': 'O'}]),
EnvelopingSpan(['omad'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Meil'], [{'nertag': 'O'}]),
EnvelopingSpan(['kunagi'], [{'nertag': 'O'}]),
EnvelopingSpan(['õitsval'], [{'nertag': 'O'}]),
EnvelopingSpan(['järjel'], [{'nertag': 'O'}]),
EnvelopingSpan(['olnud'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ühistegevust'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['pole'], [{'nertag': 'O'}]),
EnvelopingSpan(['aga'], [{'nertag': 'O'}]),
EnvelopingSpan(['riik'], [{'nertag': 'O'}]),
EnvelopingSpan(['piisavalt'], [{'nertag': 'O'}]),
EnvelopingSpan(['toetada'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tahtnud'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Et'], [{'nertag': 'O'}]),
EnvelopingSpan(['suuremad'], [{'nertag': 'O'}]),
EnvelopingSpan(['ärid'], [{'nertag': 'O'}]),
EnvelopingSpan(['õitseksid'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['raha'], [{'nertag': 'O'}]),
EnvelopingSpan(['liiga'], [{'nertag': 'O'}]),
EnvelopingSpan(['laiali'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['pudeneks'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ühe'], [{'nertag': 'O'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['paari'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehma'], [{'nertag': 'O'}]),
EnvelopingSpan(['pidamine'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tundub'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['selle'], [{'nertag': 'O'}]),
EnvelopingSpan(['kõrval'], [{'nertag': 'O'}]),
EnvelopingSpan(['ju'], [{'nertag': 'O'}]),
EnvelopingSpan(['nii'], [{'nertag': 'O'}]),
EnvelopingSpan(['tühine'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ent'], [{'nertag': 'O'}]),
EnvelopingSpan(['asi'], [{'nertag': 'O'}]),
EnvelopingSpan(['pole'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['mitte'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehmades'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['vaid'], [{'nertag': 'O'}]),
EnvelopingSpan(['inimestes'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Kui'], [{'nertag': 'O'}]),
EnvelopingSpan(['asja'], [{'nertag': 'O'}]),
EnvelopingSpan(['kas'], [{'nertag': 'O'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['puhtmajanduslikult'], [{'nertag': 'O'}]),
EnvelopingSpan(['võtta'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['siis'], [{'nertag': 'O'}]),
EnvelopingSpan(['kumb'], [{'nertag': 'O'}]),
EnvelopingSpan(['on'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['otstarbekam'], [{'nertag': 'I-EVENT'}]),
EnvelopingSpan([':'], [{'nertag': 'O'}]),
EnvelopingSpan(['kas'], [{'nertag': 'O'}]),
EnvelopingSpan(['maksta'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['vaesematele'], [{'nertag': 'O'}]),
EnvelopingSpan(['maainimestele'], [{'nertag': 'O'}]),
EnvelopingSpan(['näljapajukit'], [{'nertag': 'O'}]),
EnvelopingSpan(['sotsiaaltoetuste'], [{'nertag': 'O'}]),
EnvelopingSpan(['näol'], [{'nertag': 'O'}]),
EnvelopingSpan(['või'], [{'nertag': 'O'}]),
EnvelopingSpan(['anda'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['neile'], [{'nertag': 'O'}]),
EnvelopingSpan(['võimalus'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ise'], [{'nertag': 'O'}]),
EnvelopingSpan(['toime'], [{'nertag': 'O'}]),
EnvelopingSpan(['tulla'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Läbi'], [{'nertag': 'O'}]),
EnvelopingSpan(['töö'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['mida'], [{'nertag': 'O'}]),
EnvelopingSpan(['nad'], [{'nertag': 'O'}]),
EnvelopingSpan(['oskavad'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['austavad'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Ka'], [{'nertag': 'O'}]),
EnvelopingSpan(['ilmset'], [{'nertag': 'O'}]),
EnvelopingSpan(['ebaõiglust'], [{'nertag': 'O'}]),
EnvelopingSpan(['võetakse'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['tänases'], [{'nertag': 'O'}]),
EnvelopingSpan(['Eestis'], [{'nertag': 'O'}]),
EnvelopingSpan(['järjest'], [{'nertag': 'O'}]),
EnvelopingSpan(['enam'], [{'nertag': 'O'}]),
EnvelopingSpan(['loomuliku'], [{'nertag': 'O'}]),
EnvelopingSpan(['nähtusena'], [{'nertag': 'O'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Nii'], [{'nertag': 'O'}]),
EnvelopingSpan(['ei'], [{'nertag': 'O'}]),
EnvelopingSpan(['jäägi'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['talumehel'], [{'nertag': 'O'}]),
EnvelopingSpan(['ühel'], [{'nertag': 'O'}]),
EnvelopingSpan(['heal'], [{'nertag': 'O'}]),
EnvelopingSpan(['päeval'], [{'nertag': 'O'}]),
EnvelopingSpan(['muud'], [{'nertag': 'O'}]),
EnvelopingSpan(['üle'], [{'nertag': 'O'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['kui'], [{'nertag': 'O'}]),
EnvelopingSpan(['viimane'], [{'nertag': 'O'}]),
EnvelopingSpan(['lehm'], [{'nertag': 'O'}]),
EnvelopingSpan(['käekõrvale'], [{'nertag': 'O'}]),
EnvelopingSpan(['võtta'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['ja'], [{'nertag': 'O'}]),
EnvelopingSpan(['advokaadi'], [{'nertag': 'O'}]),
EnvelopingSpan(['ukse'], [{'nertag': 'O'}]),
EnvelopingSpan(['taha'], [{'nertag': 'O'}]),
EnvelopingSpan(['viia'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan(['.'], [{'nertag': 'O'}]),
EnvelopingSpan(['Piimaraha'], [{'nertag': 'O'}]),
EnvelopingSpan(['saamata'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),
EnvelopingSpan(['tapamajas'], [{'nertag': 'O'}]),
EnvelopingSpan(['järjekord'], [{'nertag': 'B-EVENT'}]),
EnvelopingSpan([','], [{'nertag': 'O'}]),

In [8]:
text_obj.gold_event_phrases

Layer(name='gold_event_phrases', attributes=('event_ID', 'expression', 'event_class'), spans=SL[EnvelopingSpan(['piimavarumisel'], [{'event_ID': 'e1', 'expression': '"piimavarumisel"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['kestnud'], [{'event_ID': 'e2', 'expression': '"kestnud"', 'event_class': 'ASPECTUAL'}]),
EnvelopingSpan(['anarhia'], [{'event_ID': 'e3', 'expression': '"anarhia"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['tundubki'], [{'event_ID': 'e4', 'expression': '"tundubki"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['hakkavad'], [{'event_ID': 'e5', 'expression': '"hakkavad"', 'event_class': 'ASPECTUAL'}]),
EnvelopingSpan(['saama'], [{'event_ID': 'e6', 'expression': '"saama"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['tuleb'], [{'event_ID': 'e7', 'expression': '"tuleb"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['on', 'võlgu'], [{'event_ID': 'e8', 'expression': '"on võlgu"', 'event_class': 'STATE'}]),
EnvelopingSpan(['pälvis'], [{'event_ID': 'e9', 'expression': '"pälvis"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['tahtis'], [{'event_ID': 'e10', 'expression': '"tahtis"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['teenete'], [{'event_ID': 'e11', 'expression': '"teenete"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['kinkida'], [{'event_ID': 'e12', 'expression': '"kinkida"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['võtab'], [{'event_ID': 'e13', 'expression': '"võtab"', 'event_class': 'STATE'}]),
EnvelopingSpan(['saadetud'], [{'event_ID': 'e14', 'expression': '"saadetud"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['kirjutasid'], [{'event_ID': 'e15', 'expression': '"kirjutasid"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['saamata'], [{'event_ID': 'e16', 'expression': '"saamata"', 'event_class': 'STATE'}]),
EnvelopingSpan(['seisab'], [{'event_ID': 'e17', 'expression': '"seisab"', 'event_class': 'STATE'}]),
EnvelopingSpan(['palume'], [{'event_ID': 'e18', 'expression': '"palume"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['abi'], [{'event_ID': 'e19', 'expression': '"abi"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['tunneks'], [{'event_ID': 'e20', 'expression': '"tunneks"', 'event_class': 'STATE'}]),
EnvelopingSpan(['oskaks'], [{'event_ID': 'e21', 'expression': '"oskaks"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['kaitsta'], [{'event_ID': 'e22', 'expression': '"kaitsta"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['saamata'], [{'event_ID': 'e23', 'expression': '"saamata"', 'event_class': 'STATE'}]),
EnvelopingSpan(['tähendab'], [{'event_ID': 'e24', 'expression': '"tähendab"', 'event_class': 'STATE'}]),
EnvelopingSpan(['pole', 'vaja'], [{'event_ID': 'e25', 'expression': '"pole vaja"', 'event_class': 'STATE'}]),
EnvelopingSpan(['seletada'], [{'event_ID': 'e26', 'expression': '"seletada"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['on'], [{'event_ID': 'e27', 'expression': '"on"', 'event_class': 'STATE'}]),
EnvelopingSpan(['on', 'üksi'], [{'event_ID': 'e28', 'expression': '"on üksi"', 'event_class': 'STATE'}]),
EnvelopingSpan(['peaksid'], [{'event_ID': 'e29', 'expression': '"peaksid"', 'event_class': 'MODAL'}]),
EnvelopingSpan(['abi'], [{'event_ID': 'e30', 'expression': '"abi"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['pakkuma'], [{'event_ID': 'e31', 'expression': '"pakkuma"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['leiavad'], [{'event_ID': 'e32', 'expression': '"leiavad"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['aidata'], [{'event_ID': 'e33', 'expression': '"aidata"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['pole', 'võimalik'], [{'event_ID': 'e34', 'expression': '"pole võimalik"', 'event_class': 'STATE'}]),
EnvelopingSpan(['püüab'], [{'event_ID': 'e35', 'expression': '"püüab"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['lahendusi'], [{'event_ID': 'e36', 'expression': '"lahendusi"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['otsida'], [{'event_ID': 'e37', 'expression': '"otsida"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['kiiranalüüsi', 'tehes'], [{'event_ID': 'e38', 'expression': '"kiiranalüüsi tehes"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['Tekib'], [{'event_ID': 'e39', 'expression': '"Tekib"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['ülevaadet', 'polnudki'], [{'event_ID': 'e41', 'expression': '"ülevaadet polnudki"', 'event_class': 'STATE'}]),
EnvelopingSpan(['toimuvast'], [{'event_ID': 'e40', 'expression': '"toimuvast"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['probleemidest'], [{'event_ID': 'e42', 'expression': '"probleemidest"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['õpitud'], [{'event_ID': 'e43', 'expression': '"õpitud"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['hinnang'], [{'event_ID': 'e44', 'expression': '"hinnang"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['tuleb'], [{'event_ID': 'e45', 'expression': '"tuleb"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['püütakse'], [{'event_ID': 'e46', 'expression': '"püütakse"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['euroläbirääkimiste'], [{'event_ID': 'e47', 'expression': '"euroläbirääkimiste"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['ilustada'], [{'event_ID': 'e48', 'expression': '"ilustada"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['sundis'], [{'event_ID': 'e49', 'expression': '"sundis"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['kergitama'], [{'event_ID': 'e50', 'expression': '"kergitama"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['nutavad'], [{'event_ID': 'e51', 'expression': '"nutavad"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['muretseb'], [{'event_ID': 'e52', 'expression': '"muretseb"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['laenu'], [{'event_ID': 'e53', 'expression': '"laenu"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['saada'], [{'event_ID': 'e54', 'expression': '"saada"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['leiab'], [{'event_ID': 'e55', 'expression': '"leiab"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['abi'], [{'event_ID': 'e56', 'expression': '"abi"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['on', 'raiskamine'], [{'event_ID': 'e57', 'expression': '"on raiskamine"', 'event_class': 'STATE'}]),
EnvelopingSpan(['oodatakse'], [{'event_ID': 'e58', 'expression': '"oodatakse"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['oodatakse'], [{'event_ID': 'e59', 'expression': '"oodatakse"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['töötatakse'], [{'event_ID': 'e60', 'expression': '"töötatakse"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['katmiseks'], [{'event_ID': 'e61', 'expression': '"katmiseks"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['saa'], [{'event_ID': 'e62', 'expression': '"saa"', 'event_class': 'MODAL'}]),
EnvelopingSpan(['vaadata'], [{'event_ID': 'e63', 'expression': '"vaadata"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['lonkab'], [{'event_ID': 'e64', 'expression': '"lonkab"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['jõuta'], [{'event_ID': 'e65', 'expression': '"jõuta"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['kokkuleppele'], [{'event_ID': 'e66', 'expression': '"kokkuleppele"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['on', 'haige'], [{'event_ID': 'e67', 'expression': '"on haige"', 'event_class': 'STATE'}]),
EnvelopingSpan(['on', 'tegu'], [{'event_ID': 'e68', 'expression': '"on tegu"', 'event_class': 'STATE'}]),
EnvelopingSpan(['kuuluvad'], [{'event_ID': 'e69', 'expression': '"kuuluvad"', 'event_class': 'STATE'}]),
EnvelopingSpan(['on'], [{'event_ID': 'e70', 'expression': '"on"', 'event_class': 'STATE'}]),
EnvelopingSpan(['olnud'], [{'event_ID': 'e71', 'expression': '"olnud"', 'event_class': 'STATE'}]),
EnvelopingSpan(['ühistegevust'], [{'event_ID': 'e72', 'expression': '"ühistegevust"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['toetada'], [{'event_ID': 'e73', 'expression': '"toetada"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['tahtnud'], [{'event_ID': 'e74', 'expression': '"tahtnud"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['õitseksid'], [{'event_ID': 'e75', 'expression': '"õitseksid"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['pudeneks'], [{'event_ID': 'e76', 'expression': '"pudeneks"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['pidamine'], [{'event_ID': 'e77', 'expression': '"pidamine"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['tundub', 'tühine'], [{'event_ID': 'e78', 'expression': '"tundub tühine"', 'event_class': 'I_STATE'}]),
EnvelopingSpan(['pole'], [{'event_ID': 'e79', 'expression': '"pole"', 'event_class': 'STATE'}]),
EnvelopingSpan(['võtta'], [{'event_ID': 'e80', 'expression': '"võtta"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['on', 'otstarbekam'], [{'event_ID': 'e81', 'expression': '"on otstarbekam"', 'event_class': 'STATE'}]),
EnvelopingSpan(['maksta'], [{'event_ID': 'e82', 'expression': '"maksta"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['anda'], [{'event_ID': 'e83', 'expression': '"anda"', 'event_class': 'I_ACTION'}]),
EnvelopingSpan(['võimalus'], [{'event_ID': 'e84', 'expression': '"võimalus"', 'event_class': 'STATE'}]),
EnvelopingSpan(['tulla'], [{'event_ID': 'e85', 'expression': '"tulla"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['oskavad'], [{'event_ID': 'e86', 'expression': '"oskavad"', 'event_class': 'STATE'}]),
EnvelopingSpan(['austavad'], [{'event_ID': 'e87', 'expression': '"austavad"', 'event_class': 'STATE'}]),
EnvelopingSpan(['võetakse'], [{'event_ID': 'e88', 'expression': '"võetakse"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['jäägi'], [{'event_ID': 'e89', 'expression': '"jäägi"', 'event_class': 'STATE'}]),
EnvelopingSpan(['võtta'], [{'event_ID': 'e90', 'expression': '"võtta"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['viia'], [{'event_ID': 'e91', 'expression': '"viia"', 'event_class': 'OCCURRENCE'}]),
EnvelopingSpan(['saamata'], [{'event_ID': 'e92', 'expression': '"saamata"', 'event_class': 'STATE'}]),
EnvelopingSpan(['järjekord'], [{'event_ID': 'e93', 'expression': '"järjekord"', 'event_class': 'STATE'}]),
EnvelopingSpan(['maksan'], [{'event_ID': 'e94', 'expression': '"maksan"', 'event_class': 'OCCURRENCE'}])])

In [9]:
text_obj.gold_timex_phrases

Layer(name='gold_timex_phrases', attributes=('timex_ID', 'expression', 'type', 'value'), spans=SL[EnvelopingSpan(['20.11.2002'], [{'timex_ID': 't1', 'expression': '"20.11.2002"', 'type': 'DATE', 'value': '2002-11-20'}]),
EnvelopingSpan(['aastaid'], [{'timex_ID': 't2', 'expression': '"aastaid"', 'type': 'DURATION', 'value': 'PXY'}]),
EnvelopingSpan(['kuude', 'kaupa'], [{'timex_ID': 't3', 'expression': '"kuude kaupa"', 'type': 'DURATION', 'value': 'PXM'}]),
EnvelopingSpan(['seitse', 'kuud'], [{'timex_ID': 't4', 'expression': '"seitse kuud"', 'type': 'DURATION', 'value': 'P7M'}]),
EnvelopingSpan(['kuude', 'kaupa'], [{'timex_ID': 't5', 'expression': '"kuude kaupa"', 'type': 'DURATION', 'value': 'PXM'}]),
EnvelopingSpan(['varem'], [{'timex_ID': 't6', 'expression': '"varem"', 'type': 'DATE', 'value': 'PAST_REF'}]),
EnvelopingSpan(['senistest'], [{'timex_ID': 't7', 'expression': '"senistest"', 'type': 'DATE', 'value': 'PRESENT_REF'}]),
EnvelopingSpan(['kunagi'], [{'timex_ID': 't8', 'expression': '"kunagi"', 'type': 'DATE', 'value': 'PAST_REF'}]),
EnvelopingSpan(['praegu'], [{'timex_ID': 't9', 'expression': '"praegu"', 'type': 'DATE', 'value': 'PRESENT_REF'}]),
EnvelopingSpan(['kunagi'], [{'timex_ID': 't10', 'expression': '"kunagi"', 'type': 'DATE', 'value': 'PAST_REF'}]),
EnvelopingSpan(['tänases'], [{'timex_ID': 't11', 'expression': '"tänases"', 'type': 'DATE', 'value': 'PRESENT_REF'}]),
EnvelopingSpan(['ühel', 'heal', 'päeval'], [{'timex_ID': 't12', 'expression': '"ühel heal päeval"', 'type': 'DATE', 'value': 'XXXX-XX-XX'}])])

In [10]:
text_obj['event_timex_tlinks']

RelationLayer(name='event_timex_tlinks', span_names=('a_text', 'b_text'), attributes=('a_ID', 'rel_type', 'b_ID', 'comment'), relations=[Relation([NamedSpan(a_text: ['ülevaadet', 'polnudki']), NamedSpan(b_text: ['varem'])], [{'a_ID': 'e41', 'rel_type': 'IS_INCLUDED', 'b_ID': 't6', 'comment': ''}]), Relation([NamedSpan(a_text: ['probleemidest']), NamedSpan(b_text: ['senistest'])], [{'a_ID': 'e42', 'rel_type': 'IS_INCLUDED', 'b_ID': 't7', 'comment': ''}]), Relation([NamedSpan(a_text: ['sundis']), NamedSpan(b_text: ['kunagi'])], [{'a_ID': 'e49', 'rel_type': 'IS_INCLUDED', 'b_ID': 't8', 'comment': ''}]), Relation([NamedSpan(a_text: ['olnud']), NamedSpan(b_text: ['kunagi'])], [{'a_ID': 'e71', 'rel_type': 'IS_INCLUDED', 'b_ID': 't10', 'comment': ''}]), Relation([NamedSpan(a_text: ['jäägi']), NamedSpan(b_text: ['ühel', 'heal', 'päeval'])], [{'a_ID': 'e89', 'rel_type': 'IS_INCLUDED', 'b_ID': 't12', 'comment': ''}]), Relation([NamedSpan(a_text: ['saamata']), NamedSpan(b_text: ['seitse', 'kuud'])], [{'a_ID': 'e16', 'rel_type': 'SIMULTANEOUS', 'b_ID': 't4', 'comment': ''}]), Relation([NamedSpan(a_text: ['saamata']), NamedSpan(b_text: ['kuude', 'kaupa'])], [{'a_ID': 'e23', 'rel_type': 'SIMULTANEOUS', 'b_ID': 't5', 'comment': ''}]), Relation([NamedSpan(a_text: ['kestnud']), NamedSpan(b_text: ['aastaid'])], [{'a_ID': 'e2', 'rel_type': 'SIMULTANEOUS', 'b_ID': 't2', 'comment': ''}]), Relation([NamedSpan(a_text: ['töötatakse']), NamedSpan(b_text: ['praegu'])], [{'a_ID': 'e60', 'rel_type': 'SIMULTANEOUS', 'b_ID': 't9', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'võlgu']), NamedSpan(b_text: ['kuude', 'kaupa'])], [{'a_ID': 'e8', 'rel_type': 'SIMULTANEOUS', 'b_ID': 't3', 'comment': ''}])])

In [11]:
text_obj['event_dct_tlinks']

RelationLayer(name='event_dct_tlinks', span_names=('a_text',), attributes=('a_ID', 'rel_type', 'b_ID', 'comment'), relations=[Relation([NamedSpan(a_text: ['lahendusi'])], [{'a_ID': 'e36', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['hinnang'])], [{'a_ID': 'e44', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tuleb'])], [{'a_ID': 'e45', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['püütakse'])], [{'a_ID': 'e46', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['ilustada'])], [{'a_ID': 'e48', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saada'])], [{'a_ID': 'e54', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saamata'])], [{'a_ID': 'e16', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['palume'])], [{'a_ID': 'e18', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['abi'])], [{'a_ID': 'e19', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saamata'])], [{'a_ID': 'e23', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kestnud'])], [{'a_ID': 'e2', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['anarhia'])], [{'a_ID': 'e3', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['probleemidest'])], [{'a_ID': 'e42', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['õpitud'])], [{'a_ID': 'e43', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tahtnud'])], [{'a_ID': 'e74', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tahtis'])], [{'a_ID': 'e10', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['teenete'])], [{'a_ID': 'e11', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kinkida'])], [{'a_ID': 'e12', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saadetud'])], [{'a_ID': 'e14', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kirjutasid'])], [{'a_ID': 'e15', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['ülevaadet', 'polnudki'])], [{'a_ID': 'e41', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['sundis'])], [{'a_ID': 'e49', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kergitama'])], [{'a_ID': 'e50', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['olnud'])], [{'a_ID': 'e71', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['ühistegevust'])], [{'a_ID': 'e72', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['toetada'])], [{'a_ID': 'e73', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pälvis'])], [{'a_ID': 'e9', 'rel_type': 'BEFORE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['võtab'])], [{'a_ID': 'e13', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['seisab'])], [{'a_ID': 'e17', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['piimavarumisel'])], [{'a_ID': 'e1', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tunneks'])], [{'a_ID': 'e20', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['oskaks'])], [{'a_ID': 'e21', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kaitsta'])], [{'a_ID': 'e22', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on'])], [{'a_ID': 'e27', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'üksi'])], [{'a_ID': 'e28', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['püüab'])], [{'a_ID': 'e35', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['Tekib'])], [{'a_ID': 'e39', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['toimuvast'])], [{'a_ID': 'e40', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['euroläbirääkimiste'])], [{'a_ID': 'e47', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['nutavad'])], [{'a_ID': 'e51', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['muretseb'])], [{'a_ID': 'e52', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['laenu'])], [{'a_ID': 'e53', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['leiab'])], [{'a_ID': 'e55', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['oodatakse'])], [{'a_ID': 'e58', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['oodatakse'])], [{'a_ID': 'e59', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['töötatakse'])], [{'a_ID': 'e60', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saa'])], [{'a_ID': 'e62', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['vaadata'])], [{'a_ID': 'e63', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['lonkab'])], [{'a_ID': 'e64', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['jõuta'])], [{'a_ID': 'e65', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kuuluvad'])], [{'a_ID': 'e69', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on'])], [{'a_ID': 'e70', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['õitseksid'])], [{'a_ID': 'e75', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pudeneks'])], [{'a_ID': 'e76', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pidamine'])], [{'a_ID': 'e77', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tundub', 'tühine'])], [{'a_ID': 'e78', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pole'])], [{'a_ID': 'e79', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tuleb'])], [{'a_ID': 'e7', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['võetakse'])], [{'a_ID': 'e88', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'võlgu'])], [{'a_ID': 'e8', 'rel_type': 'INCLUDES', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['otsida'])], [{'a_ID': 'e37', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kiiranalüüsi', 'tehes'])], [{'a_ID': 'e38', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['katmiseks'])], [{'a_ID': 'e61', 'rel_type': 'AFTER', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tähendab'])], [{'a_ID': 'e24', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pole', 'vaja'])], [{'a_ID': 'e25', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['seletada'])], [{'a_ID': 'e26', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['peaksid'])], [{'a_ID': 'e29', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['abi'])], [{'a_ID': 'e30', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pakkuma'])], [{'a_ID': 'e31', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['leiavad'])], [{'a_ID': 'e32', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['aidata'])], [{'a_ID': 'e33', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['pole', 'võimalik'])], [{'a_ID': 'e34', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tundubki'])], [{'a_ID': 'e4', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['abi'])], [{'a_ID': 'e56', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'raiskamine'])], [{'a_ID': 'e57', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['hakkavad'])], [{'a_ID': 'e5', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['kokkuleppele'])], [{'a_ID': 'e66', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'haige'])], [{'a_ID': 'e67', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'tegu'])], [{'a_ID': 'e68', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saama'])], [{'a_ID': 'e6', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['võtta'])], [{'a_ID': 'e80', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['on', 'otstarbekam'])], [{'a_ID': 'e81', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['maksta'])], [{'a_ID': 'e82', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['anda'])], [{'a_ID': 'e83', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['võimalus'])], [{'a_ID': 'e84', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['tulla'])], [{'a_ID': 'e85', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['oskavad'])], [{'a_ID': 'e86', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['austavad'])], [{'a_ID': 'e87', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['jäägi'])], [{'a_ID': 'e89', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['võtta'])], [{'a_ID': 'e90', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['viia'])], [{'a_ID': 'e91', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['saamata'])], [{'a_ID': 'e92', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['järjekord'])], [{'a_ID': 'e93', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}]), Relation([NamedSpan(a_text: ['maksan'])], [{'a_ID': 'e94', 'rel_type': 'VAGUE', 'b_ID': 't0', 'comment': ''}])])

### Running pipeline on all EstTimeML corpus articles

In [2]:
baseAnnotations = load_base_segmentation(baseAnnotationFile)
(eventsByLoc, eventsByID) = load_entity_annotation(eventAnnotationFile)
articlesDCT = load_articles_DCT(articleMetadata_file)
(timexesByLoc, timexesByID) = load_entity_annotation(timexAnnotationFile)
event_timex_relations = load_relation_annotation(tlinkEventTimexFile)
event_dct_relations = load_relation_to_dct_annotations(tlinkEventDCTFile)

In [3]:
# -- new target directory for EstTimeMLCorpus articles in JSON format
json_dir = 'EstTimeML_corpus_json'

if not os.path.isdir(json_dir):
    os.mkdir(json_dir)

# -- target folder path
json_dir_path = 'EstTimeML_corpus_json/'

n_saved_articles = 0
for filename in articlesDCT.keys():
    print(filename)
    
    # create Text-object with layers
    text_obj = create_Text_object_with_layers(filename, articlesDCT, baseAnnotations, eventsByLoc, timexesByLoc, 
                                              event_timex_relations, event_dct_relations)
    
    # save Text-object in JSON format
    save_Text_to_json(json_dir_path, text_obj)
    n_saved_articles+=1
    
print()
print(f"Saved {n_saved_articles} articles in JSON-format.")

aja_ml_2002_47.tasak.a006.sol
aja_ml_2002_47.tasak.a007.sol
aja_ml_2002_47.tasak.a008.sol
aja_ml_2002_47.tasak.a014.sol
aja_ml_2002_47.tasak.a016.sol
aja_ml_2002_47.tasak.a017.sol
aja_ml_2002_47.tasak.a023.sol
aja_ml_2002_47.tasak.a025.sol
aja_ml_2002_47.tasak.a028.sol
aja_ml_2002_47.tasak.a030.sol
aja_ml_2002_47.tasak.a031.sol
aja_ml_2002_47.tasak.a033.sol
aja_ml_2002_47.tasak.a038.sol
aja_ml_2002_47.tasak.a040.sol
aja_ml_2002_47.tasak.a041.sol
aja_ml_2002_47.tasak.a042.sol
aja_ml_2002_47.tasak.a045.sol
aja_ml_2002_47.tasak.a051.sol
aja_pm_2000_10_04.tasak.a001.sol
aja_pm_2000_10_04.tasak.a003.sol
aja_pm_2000_10_04.tasak.a004.sol
aja_pm_2000_10_04.tasak.a006.sol
aja_pm_2000_10_04.tasak.a007.sol
aja_pm_2000_10_04.tasak.a009.sol
aja_pm_2000_10_04.tasak.a010.sol
aja_pm_2000_10_04.tasak.a012.sol
aja_pm_2000_10_04.tasak.a013.sol
aja_pm_2000_10_04.tasak.a015.sol
aja_pm_2000_10_04.tasak.a016.sol
aja_pm_2000_10_04.tasak.a018.sol
aja_pm_2000_10_04.tasak.a019.sol
aja_pm_2000_10_04.tasak.a021.sol
aja_pm_2000_10_04.tasak.a023.sol
aja_pm_2000_10_04.tasak.a025.sol
aja_pm_2000_10_04.tasak.a028.sol
aja_pm_2000_10_04.tasak.a029.sol
aja_pm_2000_10_04.tasak.a030.sol
aja_pm_2000_10_04.tasak.a031.sol
aja_pm_2000_10_04.tasak.a033.sol
aja_pm_2000_10_04.tasak.a034.sol
aja_pm_2000_10_04.tasak.a041.sol
aja_pm_2000_10_04.tasak.a042.sol
aja_pm_2000_10_04.tasak.a044.sol
aja_pm_2000_10_04.tasak.a045.sol
aja_pm_2000_10_04.tasak.a046.sol
aja_pm_2000_10_04.tasak.a047.sol
aja_pm_2000_10_04.tasak.a050.sol
aja_pm_2000_10_04.tasak.a051.sol
aja_pm_2000_10_04.tasak.a052.sol
aja_pm_2000_10_04.tasak.a053.sol
aja_pm_2000_10_04.tasak.a054.sol
aja_pm_2000_10_04.tasak.a055.sol
aja_pm_2000_10_04.tasak.a056.sol
aja_pm_2000_10_04.tasak.a058.sol
aja_sloleht_2007_12_17.tasak.a001.sol
aja_sloleht_2007_12_17.tasak.a002.sol
aja_sloleht_2007_12_17.tasak.a003.sol
aja_sloleht_2007_12_17.tasak.a004.sol
aja_sloleht_2007_12_17.tasak.a005.sol
aja_sloleht_2007_12_17.tasak.a006.sol
aja_sloleht_2007_12_17.tasak.a009.sol
aja_sloleht_2007_12_17.tasak.a010.sol
aja_sloleht_2007_12_17.tasak.a012.sol
aja_sloleht_2007_12_17.tasak.a015.sol
aja_sloleht_2007_12_17.tasak.a016.sol
aja_sloleht_2007_12_17.tasak.a017.sol
aja_sloleht_2007_12_17.tasak.a019.sol
aja_sloleht_2007_12_17.tasak.a020.sol
aja_sloleht_2007_12_17.tasak.a022.sol
aja_sloleht_2007_12_17.tasak.a023.sol
aja_sloleht_2007_12_17.tasak.a032.sol
aja_sloleht_2007_12_17.tasak.a033.sol
aja_sloleht_2007_12_17.tasak.a037.sol
aja_sloleht_2007_12_17.tasak.a039.sol
aja_sloleht_2007_12_17.tasak.a040.sol
aja_sloleht_2007_12_17.tasak.a043.sol
aja_sloleht_2007_12_17.tasak.a044.sol
aja_sloleht_2007_12_17.tasak.a046.sol
aja_sloleht_2007_12_17.tasak.a047.sol
aja_sloleht_2007_12_17.tasak.a051.sol

Saved 80 articles in JSON-format.